.dom {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 4px;
}

.dom.wide {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

.dom.hide {
    display: none;
}
