.wdg-checkbox {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    border: 0;
    background: none;
    background-repeat:   no-repeat;
    background-position: left center;
    background-image:    url(wdg.checkbox/cancel.png);
    padding: 0 8px 0 20px;
    text-align: left;
    cursor: pointer;
    transition: background-image 300ms;
}

.wdg-checkbox.align-left {
    text-align: left;
}

.wdg-checkbox.align-center {
    text-align: center;
}

.wdg-checkbox.align-right {
    text-align: right;
}

.wdg-checkbox.checked {
    background-image:    url(wdg.checkbox/ok.png);
}