a.tfw-view-button,
button.tfw-view-button {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    line-height: 2em;
    padding: 0 1em;
    background: #9cd;
    color: #000;
    text-decoration: none;
    border-radius: 1em;
    text-shadow: none;
    cursor: pointer;
    margin: 4px 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 100%;
    box-shadow: 3px 3px rgba(127,127,127,.5);
    min-width: 64px;
    transform: translate(0,0);
    transition: all .2s;
    text-align: center;
    border: none;
}

a.tfw-view-button.wide,
button.tfw-view-button.wide {
    display: block;
    width: 100%;
}

a.tfw-view-button.small,
button.tfw-view-button.small {
    font-size: 70%;
    padding: 0 .5em;
    margin: 0;
    font-variant: small-caps;
    min-width: 2em;
}

a.tfw-view-button.press,
button.tfw-view-button.press {
    box-shadow: 0px 0px rgba(127,127,127,.5);
    transform: translate(2px,2px);
    transition: all .2s;
}

a.tfw-view-button[disabled=yes].press,
button.tfw-view-button[disabled=yes].press {
    transform: translate(0,0);
}

a.tfw-view-button[disabled=yes]:hover,
a.tfw-view-button[disabled=yes],
button.tfw-view-button[disabled=yes]:hover,
button.tfw-view-button[disabled=yes] {
    text-decoration: none;
    cursor: default;
    background: #888;
    color: #ccc;
    text-shadow: none;
    box-shadow: none;
    font-style: italic;
}

a.tfw-view-button.shadow,
button.tfw-view-button.shadow {
    background-color: #69A;
}

a.tfw-view-button.warning,
button.tfw-view-button.warning {
    background-color: #c50;
    color: #fff;
}

a.tfw-view-button.green,
button.tfw-view-button.green {
    background-color: #9dc;
}

a.tfw-view-button.simple,
button.tfw-view-button.simple {
    color: #69b;
    border-radius: none;
    background: none;
    text-shadow: none;
    box-shadow: none;
    font-size: 100%;
}

a.tfw-view-button.simple:hover,
button.tfw-view-button.simple:hover {
    text-decoration: underline;
}

a.tfw-view-button:focus,
button.tfw-view-button:focus {
    text-decoration: underline;
    text-decoration-style: dotted;
}
