.wdg-button {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    line-height: 2em;
    min-height: 2em;
    padding: 0 1em;
    background: #9cd;
    color: #000;
    text-decoration: none;
    border-radius: 2px;
    text-shadow: none;
    cursor: pointer;
    margin: 4px 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 100%;
    min-width: 64px;
    transition: all .2s;
    text-align: center;
    border: none;
}

.wdg-button:hover {
    -o-filter: saturate(200%);
    -ms-filter: saturate(200%);
    -webkit-filter: saturate(200%);
    filter: saturate(200%);
}

.wdg-button > * {
    vertical-align: middle;
    display: inline-block;
}


.wdg-button > .wdg-icon {
    margin: 0 .5em 0 -.5em;
}

.wdg-button.wide {
    display: block;
    width: 100%;
}

.wdg-button.hide {
    display: none;
}

.wdg-button.small {
    font-size: 70%;
    padding: 0 .5em;
    margin: 0;
    font-variant: small-caps;
    min-width: 2em;
}

.wdg-button[disabled=yes]:hover,
.wdg-button[disabled=yes] {
    text-decoration: none;
    cursor: default;
    background: #888;
    color: #ccc;
    text-shadow: none;
    box-shadow: none;
    font-style: italic;
}

.wdg-button.shadow {
    background-color: #69A;
}

.wdg-button.warning {
    background-color: #c50;
    color: #fff;
}

.wdg-button.special {
    background-color: #9d7;
}

.wdg-button.simple {
    color: #69b;
    border-radius: none;
    background: none;
    text-shadow: none;
    box-shadow: none;
    font-size: 100%;
}

.wdg-button.simple:hover {
    text-decoration: underline;
}

.wdg-button:focus {
    text-decoration: underline;
    text-decoration-style: dotted;
}
